<!DOCTYPE html>
<html>
<head>
    <title>Qual Track MVP</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        input { margin: 5px; }
    </style>
</head>
<body>

<h1>Qual Track</h1>

<form method="post" action="/add">
    <input name="first_name" placeholder="First name" required>
    <input name="last_name" placeholder="Last name" required>
    <button type="submit">Add Staff</button>
</form>

<h2>Staff</h2>
<ul>
    {% for s in staff %}
        <li>{{ s.first_name }} {{ s.last_name }}</li>
    {% endfor %}
</ul>


</head>

    <h2>Organisations NEW</h2>

    {% if organisations %}
        <ul>
            {% for org in organisations %}
                <li>{{ org.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No organisations yet.</p>
    {% endif %}


</body>
</html>
